.places {
    width: 100%;
    display: block;
}

.places h1 {
    font-size: 30px;
    align-items: left;
    margin-left: 10px;
    margin-bottom: 3px;
}

.listings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

article {
    width: 390px;
    margin: 20px;
    padding: 0 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;
}

.listings h2 {
    font-size: 30px;
}